.custom-card-movieCard {
   background-color: #393E46 !important;
   color: #00FFF5 !important;
   border-radius: 5px;
   width: 220px !important;
   height: 380px !important;
   
   @media (min-width: 1080px) {
    width: 410 !important;
    height: 610 !important;
  }
 }