.custom-card-directorCard {
   background-color: #393E46 !important;
   color: #00FFF5 !important;

}

.modal-dialog {
  max-width: 100% !important;
  width: 100vw !important;
}
.modal-content {
  background-color: #393E46 !important;
  color: #00FFF5 !important;
  height: 100%;
}